<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ZAExampleDB"
     providerName="System.Data.SqlClient"
     connectionString="Server=.\SQLExpress;Database=ZAExample;User Id=za;Password=SQLExample*;" />
  </connectionStrings>
</configuration>